break-before-br: yes
clean: yes
coerce-endtags: yes
doctype: html5
drop-empty-elements: no
drop-empty-paras: no
drop-proprietary-attributes: no
error-file: tidy-errs.txt
indent: yes
join-styles: no
literal-attributes: yes
merge-divs: no
merge-spans: no
numeric-entities: yes
output-html: yes
sort-attributes: alpha
wrap: 0
