<div class="modal fade" id="email-subscribe">
	<div class="modal-header">
		<button class="close" data-dismiss="modal">×</button>
		<h3>Subscribe to JSR e-mail list</h3>
	</div>
	<form 
		action="http://fsu.us4.list-manage2.com/subscribe/post?u=79c6002cba175c6c65b4290f9&amp;id=66ee63a437" 
		method="post" id="mc-embedded-subscribe-form" 
		name="mc-embedded-subscribe-form" class="form-horizontal" 
		target="_blank">
		<fieldset>
			<div class="modal-body">
				<div class="control-group">
					<p class="muted">This e-mail list sends out notifications of new 
					issues of the <em>JSR</em>, and occasionally other 
					relevant information.</p>
					<label class="control-label" for="mce-EMAIL">e-mail 
						address</label>
					<div class="controls">
						<input type="email" value="" name="EMAIL" 
						class="required email input-xlarge" 
						id="mce-EMAIL">
						<span class="help-inline label 
							label-important">required</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="mce-FNAME">first 
						name </label>
					<div class="controls">
						<input type="text" value="" name="FNAME" 
						class="input-xlarge" id="mce-FNAME">
						<span class="help-inline label 
							label-success">optional</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="mce-LNAME">last 
						name </label>
					<div class="controls">
						<input type="text" value="" name="LNAME" 
						class="input-xlarge" id="mce-LNAME">
						<span class="help-inline label 
							label-success">optional</span>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">e-mail format </label>
					<div class="controls">
						<label class="radio inline" for="mce-EMAILTYPE-0">
							<input type="radio" value="html" 
							name="EMAILTYPE" id="mce-EMAILTYPE-0">
							HTML
						</label>
						<label class="radio inline" for="mce-EMAILTYPE-1">
							<input type="radio" value="text" 
							name="EMAILTYPE" id="mce-EMAILTYPE-1">
							plain text
						</label>
						<label class="radio inline" for="mce-EMAILTYPE-2">
							<input type="radio" value="mobile" 
							name="EMAILTYPE" id="mce-EMAILTYPE-2">
							mobile
						</label>
					</div>
				</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" 
						style="display:none"></div>
					<div class="response" id="mce-success-response" 
						style="display:none"></div>
			</div>	</div>

			<div class="modal-footer">
				<a data-dismiss="modal" class="btn">Cancel</a>
				<input type="submit" value="Subscribe" name="subscribe" 
				id="mc-embedded-subscribe" class="btn btn-primary">
			</div>
		</fieldset>
	</form>
</div>
