<!-- subscribe links in the header -->
<a href="{{site.all-posts-feed}}" class="subscribe" rel="tooltip" title="Subscribe to all updates via Atom feed"><i class="icon-rss"></i></a>
<a href="{{site.email-subscribe-standalone}}" data-target="#email-subscribe" rel="tooltip" title="Subscribe to updates via e-mail" 
	class="subscribe" data-toggle="modal" id="header-email-subscribe"><i class="icon-email"></i></a>
<a href="{{site.twitter-link}}" rel="tooltip" title="Get updates via Twitter" class="subscribe"><i class="icon-twitter"></i></a>
<a href="{{site.podcast-feed}}" rel="tooltip" title="Subscribe to the JSR Podcast" class="subscribe"><i class="icon-itunes"></i></a>
<!-- <a href="{{site.facebook-link}}" rel="tooltip" title ="Visit our Facebook page" class="subscribe"><i class="icon-facebook"></i></a> -->
