---
layout: default
---
<article>
<div class="row article-title"><!-- title row -->
	<div class="span7 offset4">
		<div class="page-header">
			<h1>{{page.title}}</h1>
		</div>
	</div>
</div><!-- end title row -->
<div class="row"><!-- body row -->
	<div class="span3 offset1 article-metadata"> <!-- metadata column -->
		<h3>{{page.author}}</h3>
		<p>{{page.author-note}}</p>

		<ul class="breadcrumb">
			<li>
			<a href="{{site.baseurl}}">JSR</a> <span class="divider">/</span>
			</li>
			<li>
			<a href="{{site.url}}/issues/vol{{page.vol}}/">Volume
				{{page.vol}}</a> 
			</li>
		</ul>

		<h4><small><i class="icon-file"></i> Cite this article</small></h4>
		{% include cite.html %}

		<h4 style="margin-bottom:6px;"><small><i class="icon-share-alt"></i> Share this article</small></h4>
		{% include share.html %}
	</div><!-- end metadata column -->
	<div class="span7"> <!-- article column -->

		{% if page.book-reviewed %}
			<div class="book-reviewed">
				<p>{{page.book-reviewed}}</p>
			</div>
		{% endif %}

		{{content}}

	</div> <!-- end article column -->
</div> <!-- end body row -->
</article>
