<h2>Current Issue: Volume 17</h2>

<p>With the release of Volume 17, the <em>Journal of Southern Religion</em> begins the process of rolling releases. As content becomes available, we will push book reviews, articles, and forums to the website.
Volume 17 features an article on segregationists' hermeneutical approaches to scripture in the 1960s and an article on the 
J.R. Graves's newspaper accumen and the expansion of his particular form of Baptists beliefs.
Eleven book reviews of recent books in the field round out Volume 17 of the <em>JSR</em>.</p>
