<h2>Current Issue: Volume 13</h2>

<p>Volume 13 of the <em>Journal of Southern Religion</em> features an 
article on Southern Baptists and the modern technology of indoor 
baptisteries and a roundtable discussion of class as a category of 
analysis in the study of religion in the twentieth-century South. A 
panel reviews Daniel K. Williams's <em>God's Own Party: The Making of 
	the Christian Right</em>, and Monica Najar reflects on her book 
<em>Evangelizing the South: A Social History of Church and State</em>.  
Finally, this issues includes twenty-six reviews of recent books in the 
field.</p>
