<h2>Current Issue: Volume 14</h2>

<p> Volume 14 of the <em>Journal of Southern Religion</em> features a 
roundtable discussion of religion in the colonial South. Clive Webb 
reflects on his book <em>Fight Against Fear: Southern Jews and Black 
  Civil Rights</em>. A panel reviews Edward J. Blum and Paul Harvey’s 
book <em>The Color of Christ: The Son of God and the Saga of Race in 
  America</em>. Emily Suzanne Clark sheds light on a little-known 
organization devoted to the study of southern religion. And finally, the 
<em>JSR</em> includes thirty-two reviews of recent books in the 
field.</p>
