---
layout: default  
---
<div class="row">
	<div class="span4">
		<div class="well well-large">
			<h2>About the Journal</h2>

			{% include front-about.html %}
			<p><strong><a class="chevron-link" 
					href="{{site.baseurl}}about/">About the JSR <i 
						class="icon-chevron-right"></i></a></strong></p>

		</div>
	</div>


	<div class="span8">

		{% include current-issue-description.html %}

		<p><strong><a 
				class="chevron-link" href="{{site.baseurl}}issues/{{site.currentissue}}/index.html">Current 
				issue <i class="icon-chevron-right"></i></a> <a 
				class="chevron-link" href="{{site.baseurl}}issues/">All 
				issues <i 
					class="icon-chevron-right"></i></a></strong></p>

		<div class="row">
			<div class="span4">
				<h2>New Media</h2>
				<ul class="unstyled">
					{% for post in site.categories.new-media limit: 5 %}
						<li>
						<p>
						{% if post.categories contains 'podcast' %}
							<strong><a href="{{site.url}}{{post.url}}">Episode {{post.podcast-episode}}: {{post.title}}</a></strong><br/>
						{% else %}
							<strong><a href="{{site.url}}{{post.url}}">{{post.title}}</a></strong><br/>
						{% endif %}
						<span class="hanging">
							{% if post.categories contains 'podcast' %}
								<span class="label label-info">Podcast</span>
							{% else %}
								<span class="label label-info">New Media</span>
							{% endif %}
							<small> <i class="icon-calendar"></i> {{ post.date | date: "%m/%d/%Y" }}</small>
						</span>
						</p>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="span4">
				<h2>JSR Blog</h2>
				<ul class="unstyled">
					{% for post in site.categories.blog limit: 5 %}
						<li>
						<p>
						<strong><a href="{{site.url}}{{post.url}}">{{post.title}}</a></strong><br/>
						<span class="hanging">
							{% if post.categories contains 'new-issue' %}
								<span class="label label-important">New Issue</span>
							{% elsif post.categories contains 'announcement' %}
								<span class="label label-warning">Announcement</span>
							{% endif %}
							<small> <i class="icon-calendar"></i> {{ post.date | date: "%m/%d/%Y" }}</small>
						</span>
						</p>
						</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
