---
layout: default  
---

<div class="row">
	<div class="span4">
		<div class="well well-large">
			<h2>About the Journal</h2>

			{% include front-about.html %}
		<p style="margin-left:20px;"><strong><a class="" 
				href="{{site.baseurl}}about/index.html">About the JSR <i 
					class="icon-chevron-right"></i></a></strong></p>

		</div>
	</div>


	<div class="span8">

		{% include current-issue-description.html %}

		<p style="margin-left:20px;" ><strong><a class="" 				
				href="{{site.baseurl}}issues/{{site.currentissue}}/index.html">Current issue <i class="icon-chevron-right"></i></a> <a 
				style="margin-left:20px;" 
				href="{{site.baseurl}}issues/">All issues <i 
					class="icon-chevron-right"></i></a></strong></p>

		<h2>New Media</h2>

		{% for post in site.categories.podcast %}
			<span class="label label-info">Podcast</span> <a href="{{site.baseurl}}/{{post.url}}">{{post.title}}</a>
		{% endfor %}

	</div>
</div>
