---
layout: default  
---

<div class="page-header">
	<h1>
		The Journal of Southern Religion
	</h1>
</div>
<div class="row">
	<div class="span4">
		{{content}}
		<p><strong><a class="pull-right"
				href="{{site.baseurl}}issues/{{site.currentissue}}/index.html">Read
				current issue <i
					class="icon-chevron-right"></i></a></strong></p>
		<p>&nbsp;</p>

	</div>
	<div class="span4">
		<h2>Podcast</h2>

		{% for post in site.categories.podcast%}
		<a href="{{ site.base-url}}{{ post.url }}">{{ post.title }}</a>
		{% endfor %}
	
		
	</div>
	<div class="span4">
		<div id="subscribe" class="well">
			<h3>Subscribe to the JSR</h3>

			<p>
			<a href="#" class="subscribe"><i class="icon-twitter"></i>Twitter</a>
			<a href="#" class="subscribe"><i class="icon-rss"></i>Atom</a>
			<a href="#" class="subscribe"><i class="icon-facebook"></i>Facebook</a>
			</p>

			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup"> 
				<form 
					action="http://fsu.us4.list-manage1.com/subscribe/post?u=79c6002cba175c6c65b4290f9&amp;id=239782e69d"
					method="post" id="mc-embedded-subscribe-form"
					name="mc-embedded-subscribe-form" 
					target="_blank"
					class="form-inline validate">
					<label for="mce-EMAIL">
						<i class="icon-envelope"></i> E-mail 
					</label> 
					<input 
					type="email" 
					value=""
					placeholder="Your e-mail address"
					name="EMAIL" 
					class="required email span2" 
					id="mce-EMAIL">
					<input 
					type="submit" 
					value="Subscribe" 
					name="subscribe"
					id="mc-embedded-subscribe" 
					class="button btn-info">
				</form>
			</div>
		</div>
		<h2>About the JSR</h2>

		<p> Welcome to the first scholarly journal devoted to the study
		of religion in the American South. <em>The Journal of Southern
			Religion</em> is a fully peer-reviewed academic journal
		reflecting the best traditions of objective and critical
		scholarship. It is an open-access publication, published free of
		cost in its entirety on the Internet.</p>

		<div class="row">
			<div class="span2">
				<ul>
					<li><a href="{{site.baseurl}}about/masthead.html">Masthead</a></li>
					<li><a href="{{site.baseurl}}about/news.html">JSR News</a></li>
					<li><a href="{{site.baseurl}}about/sam-hill-award.html">The Sam Hill
						Award</a></li>
					<li><a href="{{site.baseurl}}about/advertisers.html">Advertisers</a></li>
				</ul>
			</div>
			<div class="span2">
				<li><a href="{{site.baseurl}}about/editorial-policies.html">Editorial Policies</a></li>
				<li><a href="{{site.baseurl}}about/article-submissions.html">Article
					Submissions</a></li>
				<li><a href="{{site.baseurl}}about/review-guidelines.html">Book
					Review Guidelines</a></li>
			</ul>
		</div>
	</div>

	<p>The Journal of Southern Religion is sponsored by the
	Association for the Study of Southern Religion and receives
	collaborative support from <a
		href="http://www.fsu.edu/">Florida State University</a>,
	<a href="http://www.lsu.edu/">Louisiana State
		University</a>, <a href="http://www.enc.edu/">Eastern
		Nazarene College</a>, <a
		href="http://www.uwsp.edu/">University of Wisconsin
		&mdash; Stevens Point</a>, and <a
		href="http://www.francis.edu/">Saint Francis
		University</a>.</p>

</div>
</div>
