---
layout: default
---

<div class="page-header">
	<h1>{{page.title}}</h1>
</div>

<div class="row">
	<div class="span8 offset2">
		<div class="post-date">
			{{ page.date | date_to_long_string }}
		</div>
		{% if post.author != null %}
			<div class="post-author">{{ post.author }}</div>
		{% endif %}

		<audio controls="controls">
		<source src="{{site.baseurl}}assets/podcast/{{page.podcast-filename}}" type="audio/mpeg" />
		<!-- TODO make this cross browser compatible -->
		Your browser does not support the audio element.
		</audio>

		{{content}}

	</div>
</div>
